gtk*
gnome*
Xauthority
dconf
ibus
imsettings
LICENSE
monitors*
pulse
mimeapps*

# Ignore nvim & tmux plugins
nvim/plugins
tmux/plugins
tmux/tmux-themepack

# Ignore powerline-status symbolic links
tmux/tmux-powerline
fish/powerline

# Ignore fish specific things that are local to a system
fish/fishd.*
fish/functions

# Ignore the "Code" folder created by VSCode
Code/*

# Ignore libvirt, hexchat and google-chrome settings
libvirt
virt-viewer
hexchat
google-chrome*

# Ignore evolution related settings
evolution*
enchant
goa*

# Keep alacritty settings local to the system
alacritty

# Ignore all intel specific configurations
intel-config
