gtk*
gnome*
Xauthority
dconf
ibus
imsettings
LICENSE
monitors*
pulse
mimeapps*

# Ignore nvim & tmux plugins
nvim/plugins
nvim/.netrwhist
tmux/plugins
tmux/tmux-themepack

# Ignore powerline-status symbolic links
tmux/tmux-powerline
fish/powerline

# Ignore fish specific things that are local to a system
fish/fishd.*
fish/functions
fish/conf.d/*pure*
fish/fish_variables
fish/completions
fish/conf.d/fzf.fish
fish/conf.d/fzf_key_bindings.fish
fish/fishfile
fisher/


# Ignore the "Code" folder created by VSCode
Code/*

# Ignore libvirt, hexchat and google-chrome settings
libvirt
virt-viewer
hexchat
google-chrome*

# Ignore evolution related settings
evolution*
enchant
goa*

# Keep alacritty settings local to the system
alacritty

# Ignore all intel specific configurations
intel-config

# Ignore coc settings generated automatically
coc

# Ignore configstore created by npm
configstore
