[submodule "pkgs/tmux/.config/tmux/plugins/vim-tmux-navigator"]
	path = pkgs/tmux/.config/tmux/plugins/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "pkgs/tmux/.config/tmux/plugins/tmux-sensible"]
	path = pkgs/tmux/.config/tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible
[submodule "pkgs/tmux/.config/tmux/plugins/tpm"]
	path = pkgs/tmux/.config/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "work-dotfiles"]
	path = work-dotfiles
	url = git@gitlab.com:AmpereComputing/personal/vkonda/work-dotfiles.git
[submodule "pkgs/tmux/.config/tmux/plugins/tmux-everforest"]
	path = pkgs/tmux/.config/tmux/plugins/tmux-everforest
	url = https://github.com/TanglingTreats/tmux-everforest.git
