gtk*
gnome*
evolution*
Xauthority
dconf
ibus
imsettings
LICENSE
monitors*
pulse
mimeapps*

# Ignore nvim & tmux plugins
nvim/plugins
tmux/plugins
tmux/tmux-themepack

# Ignore powerline-status symbolic links
tmux/tmux-powerline
fish/powerline

# Ignore fish specific things
fish/fishd.*
fish/functions
