List of tools to install as soon as new system is up

1. Neovim
2. keychain
3. fish
4. powerline
5. tmux
6. FZF (installed through VIM plugin)
7. Ag
8. Bear (for getting builds with make to generate compile_commands.json)
